.div-0{
    display: flex;
}

.div-1{
    width: 10%;
    height: 450px;
    background-color: plum;
    margin: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.div-3{
    position: sticky;
    width: 500px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    box-sizing: border-box;
    margin: 0px 0px 10px 0;
}

.div-4{
    width: 500px;
    height: 330px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer{
    position: sticky;
    width: 500px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    box-sizing: border-box;
    margin: 10px 0px 0px 0;
}
